@font-face {
    font-family: 'Aktiv Grotesk Ex Trial';
    src: url('AktivGroteskExTrial-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aktiv Grotesk Ex Trial';
    src: url('AktivGroteskExTrial-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aktiv Grotesk Ex Trial XBold';
    src: url('AktivGroteskExTrial-XBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aktiv Grotesk Ex Trial';
    src: url('AktivGroteskExTrial-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

